.call-to-action {
  display: flex;
  flex-wrap: wrap;
  margin-top: 130px;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 8px 24px 89px -11.6px rgba(22, 52, 80, 0.1);

  &__picture {
    width: 290px;
    padding: 0 15px;
  }

  &__image {
    margin-top: -130px;
    height: 398px;
    object-fit: cover;
  }

  &__info {
    flex: 0 0 calc(100% - 290px);
    padding: 30px;
    max-width: calc(100% - 290px);
  }

  &__title {
    font-size: 48px;
    line-height: 1.2;

    &_mb-8 {
      margin-bottom: 8px;
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 1.2;

    &_mb-40 {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 739px) {
  .call-to-action {
    margin-top: 30px;

    &__picture {
      display: none;
    }

    &__info {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}